/nbproject/private/
debug.log
Thumbs.db
/public_html/compositions/recursos/PRE4/nbproject/private/
/public_html/compositions/recursos/PRE3/nbproject/private/
/public_html/compositions/recursos/PRE5/nbproject/private/
desktop.ini